[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "adminapp"]
	path = adminapp
	url = https://github.com/syncube/gitHub-autoPull-PHP.git
